apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: tgefd
  labels:
    app: tgefd
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore
  target:
    name: tgefd-secrets
  data:
    - secretKey: TGEFD_API_KEY
      remoteRef:
        key: tgefd/api-key
