apiVersion: v1
kind: Service
metadata:
  name: tgefd
  labels:
    app: tgefd
    component: api
spec:
  type: ClusterIP
  selector:
    app: tgefd
    component: api
  ports:
    - name: http
      port: 80
      targetPort: http
